@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* General reset and box sizing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body and html to fill the entire viewport and set the base color */
body,
html {
    height: 100%;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-family: 'Roboto', sans-serif;
    /* background-color: #000; */
    background-color: #040D17;

    /* Black background */
    color: #FFF;
    /* White text color */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    /* Prevent horizontal scroll */
}

/* Styling the navigation bar with a black background and specific blue accent color */
.navbar {
    background-color: #000000;
    /* Black for navbar */
    color: #FFFFFF;
    /* White text */
    /* Dark grey for navbar, can be changed to pure black if needed */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.navbar-inner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    /* Adjust height as needed */
}

.navbar a {
    color: #0099ff;
    /* Blue accent color */
    text-decoration: none;
    transition: color 0.3s;
    /* Smooth transition for hover effects */
}

.navbar a:hover {
    color: white;
}

/* Define variables */
:root {
    --navbar-height: 90px;
    --content-margin: 90px;
    --left-margin-content: 150px;
}

/* Sidebar styles with a black background and margin for the text */
.sidebar {
    /* background-color: #000; */
    background-color: #040D17;


    display: flex;
    /* This establishes the flex context */
    flex-direction: column;
    /* This lays out the children vertically */
    padding: 20px;
    padding-left: 40px;
    width: auto;
    /* max-width: 30%; */
    max-width: 800px;
    /* Limit maximum width to 25% of the viewport */
    /* Set width to auto */
    position: fixed;
    top: calc(var(--navbar-height) + var(--content-margin));
    bottom: var(--content-margin);
    left: var(--left-margin-content);
    /* Adjusted to move both sidebar and content area to the right */
    /* height: 100%; */
    height: calc(100% - (2 * var(--content-margin)) - var(--navbar-height));

    /* Match height with main content */
    /* Add scrollbar if content overflows */
    overflow: hidden;
    /* Hide horizontal scrollbar */
    z-index: 02;


    /* Ensure sidebar is above the main content */
}

.sidebar-title {
    font-size: 1.9em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* Adjust size as needed */
    font-weight: 200;
    /* Bold weight for headers */
    /* color: #0099ff; */
    color: #fff;
    margin-bottom: 20px;
    margin-left: 30px;
}

/* Progress container adjustments */
.progress-container {
    position: absolute;
    /* Align with section */
    top: 50%;
    transform: translateY(-50%);
    /* Center vertically */
    left: -30px;
    /* Position to the left of the section */
    background-color: rgba(13, 13, 13, 0.8);
    /* Translucent bar background */
    width: 8px;
    /* Width of the progress bar background */
    height: 100%;
    /* Full height of the section */
    border-radius: 4px 4px 4px 4px;
}

/* Progress bar adjustments */
.progress-bar {
    background-color: #0099ff;
    /* Blue progress color */
    width: 100%;
    /* Full width of its container */
    height: 0%;
    /* Initial height */
    transition: height 0.5s ease;
    border-radius: 4px 4px 4px 4px;
    /* Smooth transition for height */
}


.sidebar .section {
    display: flex;
    flex-direction: column;
    flex: 1;
    position: relative;
    /* make sections fit into height */
    margin-bottom: 20px;
    transition: opacity 0.3s;
}


/* Ensure text spans 100% of the section height */
.sidebar .section p {
    /* flex-grow: 1; */
    /* overflow-y: auto; */
    margin-top: 10px;
    /* Allow text to scroll if it overflows */


    white-space: normal;
    max-width: 100%;
    text-align: justify;
    text-wrap: wrap;
    font-size: 14px;
    /* hyphens: auto; */
    /* Ensures that the paragraph does not grow beyond the width of the section */
    /* This ensures that the text can wrap */
    /* Let the paragraph element take up remaining height */
}


/* Add this to your existing CSS */
.sidebar .section.completed {
    background-color: #222;
    /* Or any color to indicate completion */
    color: #aaa;
    /* Dim the text color */
}

.sidebar .section.completed .progress-container {
    display: none;
    /* Hide progress bar container for completed sections */
}

.sidebar .section:not(.completed) .progress-container {
    display: block;
}


/* Ensure h2 elements have left margin to not overlap the progress bar */
/* .sidebar h2 { */
/* margin-left: 10px; */
/* Space from the left, adjust as needed */
/* } */

/* Clearfix for each section */
.sidebar .section::after {
    content: "";
    display: table;
    clear: both;
}

/* Section active/inactive styling */
.section {
    /* margin: 20px; */
    /* Spacing between sections */
    padding-left: 20px;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    background-color: #000000;
    /* Darker background for sections */
    border-radius: 8px;
    /* Rounded corners for sections */
    opacity: 0.5;
    /* Start sections as semi-transparent */
    transition: opacity 0.3s ease;
    /* Smooth transition for opacity */
}

.section.active {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.section.inactive {
    opacity: 0.2;
    transition: opacity 0.3s ease-in-out;
}

/* Main content area with a white background and rounded corners on the left */
.main-content {
    position: relative;
    background-color: #FFF;
    color: #000;
    margin-left: calc(25% + var(--left-margin-content) + 50px);
    /* Adjusted to match the sidebar's margin */
    margin-top: calc(var(--navbar-height) + var(--content-margin));
    margin-bottom: var(--content-margin);
    /* padding: 20px; */
    /* overflow: auto; */
    overflow: hidden;
    /* add glow beehind main-content */


    /* Add shadow to create lifted effect */
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);

    /* Transition for smooth shadow effect */
    transition: box-shadow 0.3s ease, transform 0.3s ease;

    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    height: calc(100% - (2 * var(--content-margin)) - var(--navbar-height));
    /* Adjusted height using variables */
}

/* Optional: further lift on hover */
.main-content:hover {
    /* Move up slightly */
    transform: translateY(-1px);
    /* Increase the shadow to enhance the lifted effect */
    /* box-shadow: 0 40px 50px rgba(255, 255, 255, 0.2); */
}

.main-content::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
    /* This makes sure the overlay doesn't interfere with mouse events */
    /* background: radial-gradient(ellipse at center, transparent 50%, rgba(0, 0, 0, 0.3) 100%); */
    /* similar to above line, use rectangular vignette instead of ellipse */
    background: linear-gradient(to right, transparent 70%, rgba(0, 0, 0, 0.4) 100%);
    z-index: 2;
    /* Ensure this is above your content but below any interactive elements */
}

/* For responsive image handling */
img {
    max-width: 100%;
    height: auto;
}

/* Responsive design adjustments for smaller screens */
@media screen and (max-width: 767px) {

    .progress-container {
        display: none;
        /* Optionally hide progress bars on small screens */
    }

    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
        padding-left: 20px;
        /* Adjusting left padding for smaller screens */
    }

    .main-content {
        margin-left: 0;
        border-top-left-radius: 0;
        /* Remove border radius on smaller screens */
        border-bottom-left-radius: 0;
        /* Remove border radius on smaller screens */
        margin-top: 0;
        /* Ensure content starts at the top on smaller screens */
        padding: 20px;
        /* Adjusted padding */
    }
}


h1 {
    font-size: 2.5em;
    /* Adjust size as needed */
    font-weight: 700;
    /* Bold weight for headers */
    color: #ffffff;
    margin-bottom: 20px;
}

p {
    font-size: 1em;
    color: #c0c0c0;
    /* Light grey for paragraph text */
    margin-bottom: 15px;
}

h2 {
    font-size: 1.2em;
    font-weight: 400;
    color: #ffffff;
}


/* .main-content img {
    width: 100%;
    height: auto;
    transition: transform 0.5s ease-in-out;
} */

.slide-image {
    height: 100%;
    width: auto;
    transition: transform 0.5s ease-in-out;
    /* or 'auto' to maintain the aspect ratio */
    /* object-fit: cover; */
    /* To cover the area without distortion */
    box-shadow: -10px 0 15px -5px rgba(0, 0, 0, 0.5);
}



.slide-image-in {
    box-shadow: -15px 0 15px -5px rgba(0, 0, 0, 0.5);
    animation: slideInRightToLeft 1.5s forwards;
    border-radius: 30px 0px 0px 30px;
    /* Shadow on the left edge */
    /* Other styles for sliding in */
}

.slide-image-out {
    box-shadow: -10px 0 15px -5px rgba(0, 0, 0, 0.5);
    animation: slideOutLeftToRight 1.5s backwards;
    /* Shadow on the left edge */
    /* Other styles for sliding out, if different */
}



@keyframes slideInRightToLeft {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes slideOutLeftToRight {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(100%);
    }
}