---
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="Rajat's Portfolio" property="og:site_name"/>
    <meta content="Projects created by Rajat Chaple" property="og:description">
    <meta content="{{ site.url }}/about/" property="article:author">


    <link rel="icon" href="/assets/img/favicon.png" type="image/png" sizes="16x16"/>
    <link href="/assets/css/Style.css" rel="stylesheet" media="all" class="default" />
</head>

<body>
    <div class="container"> 
        <div class="header">
            <h1 class="site-title">Portfolio</h1>
            <div class="nav">
                <ul class="nav-menu">
                    <li class="nav-menu-item">Top</li>
                    <li class="nav-menu-item">Bottoms</li>
                    <li class="nav-menu-item">Sale</li>
                </ul>
            </div>
        </div> 
        <hr class="separator"/>               
    </div>
</body>
</html>