---
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="Rajat's Portfolio" property="og:site_name"/>
    <meta content="Projects created by Rajat Chaple" property="og:description">
    <meta content="{{ site.url }}/about/" property="article:author">


    <link rel="icon" href="/assets/img/favicon.png" type="image/png" sizes="16x16"/>
    <link href="/assets/css/Style.css" rel="stylesheet" media="all" class="default" />
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous"> -->
    <link href="https://db.onlinewebfonts.com/c/796e2db2256ddfab47394211f41ac410?family=Acumin+Pro" rel="stylesheet" type="text/css"/>
</head>

<body>
    <div class="pf-container"> 
        <div class="pf-header">
            <h1 class="pf-title">
              <a href="/">Portfolio</a></h1>
            <div class="pf-nav">
                <ul class="pf-nav-menu">
                    <li class="pf-nav-menu-item">
                      <a href="/">About</a>
                    </li>
                    <li class="pf-nav-menu-item">
                      <a href="/projects">Projects</a>
                    </li>
                    <li class="pf-nav-menu-item">
                      <a href="/contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div> 
        <hr class="pf-separator"/> 

        <!-- <p>{{page.url}}</p> -->
        


       


        <div class="content">
            
            {{content}}
            
        </div>              
        
    </div>
    <footer></footer>
</body>
</html>